# Python
.venv/
venv/
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
ENV/

# Java
target/
.quarkus/
.mvn/wrapper/maven-wrapper.jar

# IDE
.idea/
.vscode/
*.iml
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
*.log
